@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}
/*perfect */

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
  
}
/* perfect */

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header,
.footer {
  display: flex;
  padding: 16px;
  justify-content: space-between;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  gap: 16px;
  display: flex;
}
/*list style can be in li or ul, they do the gap 16 here */

.content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  flex: 1;
  justify-content: center;
  /*margin-top: auto for this and the footer is an option */
} 

a {
  text-decoration: none;
  color: #666;
}
/*perfect*/

.footer {
  background-color: #eeeeee;
}


